* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f4f8fb;
}

.header {
  background: #0056b3;
  color: white;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  background: white;
  color: #0056b3;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.hero {
  background: linear-gradient(135deg, #007bff, #003f88);
  color: white;
  padding: 80px 8%;
}

.hero h1 {
  font-size: 38px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: white;
  color: #0056b3;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.produtos {
  padding: 50px 8%;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card span {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.carrinho {
  padding: 40px;
  text-align: center;
}

footer {
  background: #003f88;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsivo */
@media(max-width:768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    display: none;
    position: absolute;
    right: 8%;
    top: 60px;
    background: #0056b3;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
  }

  .navbar.ativo {
    display: flex;
  }
}
